<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<head>
    <style>
        body {
        background-color: #BFB48F;
        color: #111111;
        font-family: Arial, Helvetica, sans-serif;
        }
        h2 {
        color: #904E55;
        text-align: center;
        }
        button {
          background-color: #F2EFE9;
          border: none;
          border-radius: 15px;
        }
    </style>
</head>
<body ng-app="myApp" ng-controller="familyCtrl">

<h2>My Family History List</h2>

<form ng-submit="familyAdd()">
    <input type="text" ng-model="personInput" size="20" placeholder="Person">
    <input type="text" ng-model="fatherInput" size="20" placeholder="Father">
    <input type="text" ng-model="motherInput" size="20" placeholder="Mother">
    <input type="submit" value="Add New">
</form>

<br>

<div ng-repeat="x in familyList">
    <input type="checkbox" ng-model="x.done"> <span ng-bind="x.familyText"></span>
</div>

<p><button ng-click="remove()">Remove marked</button></p>

<script>
var app = angular.module('myApp', []);
app.controller('familyCtrl', function($scope) {
    $scope.familyList = [{familyText:'KC, Ernest Willmore, Karen Clark', done:false}];

    $scope.familyAdd = function() {
        $scope.familyList.push({familyText:$scope.personInput + ', ' + $scope.fatherInput + ', ' + $scope.motherInput, done:false});
        $scope.personInput = "";
        $scope.fatherInput = "";
        $scope.motherInput = "";
    };

    $scope.remove = function() {
        var oldList = $scope.familyList;
        $scope.familyList = [];
        angular.forEach(oldList, function(x) {
            if (!x.done) $scope.familyList.push(x);
        });
    };
});
</script>

</body>
</html>
